.gallery-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  margin: auto;
}

.photo-header {
  padding: 100px 0 20px 0;
  text-align: center;
}

.gallery-container a {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 1.5rem;
  background: hsl(140, 60%, 99%);
  background: linear-gradient(
    180deg,
    rgba(251, 254, 252, 0) 85%,
    rgba(251, 254, 252, 0.3955008028602066) 90%,
    rgba(99, 136, 137, 1) 100%
  );
}

.gallery-container a:hover {
  background-color: hsla(182, 16%, 46%, 0.3);
  transition: 0.3s ease;
}

.photo-1,
.photo-2,
.photo-3,
.photo-4,
.photo-5,
.photo-6,
.photo-7,
.photo-8,
.photo-9 {
  width: 90%;
  margin: auto;
  height: 400px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-1 {
  background-image: url(./images/pexels-andre-furtado-2916821.jpg);
}

.photo-2 {
  background-image: url(../images/pexels-avinash-patel-544542.jpg);
}

.photo-3 {
  background-image: url(/images/pexels-cátia-matos-1072179.jpg);
}

.photo-4 {
  background-image: url(/images/pexels-dana-tentis-691114.jpg);
}

.photo-5 {
  background-image: url(/images/pexels-david-bartus-594226.jpg);
}

.photo-6 {
  background-image: url(/images/pexels-drew-williams-3483967.jpg);
}

.photo-7 {
  background-image: url(/images/pexels-gabriel-peter-698396.jpg);
}

.photo-8 {
  background-image: url(/images/pexels-irina-iriser-1707215.jpg);
}

.photo-9 {
  background-image: url(/images/pexels-yoss-traore-2564153.jpg);
}

.more2come {
  text-align: center;
  padding: 20px;
}
