/* Responsiveness */
@media only screen and (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: hsl(40, 71%, 92%);
  }

  .hamb {
    display: none;
  }

  .cards {
    max-width: 100%;
    margin: auto;
  }

  .photo-1,
  .photo-2,
  .photo-3,
  .photo-4,
  .photo-5,
  .photo-6,
  .photo-7,
  .photo-8,
  .photo-9 {
    max-width: 32%;
    margin: 0;
  }

  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    max-width: 70%;
    margin: auto;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 5px;
  }

  #div1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #div2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #div3 {
    grid-area: 1 / 2 / 4 / 3;
    display: block;
    align-self: center;
  }

  #div3 li {
    padding: 10px;
  }

  #div4 {
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media (max-width: 400px) {
  .hero-title {
    font-size: 1.4em;
  }
}
